<template name="blurtEdit">
  <form class="main form page">
    <div class="form-group {{errorClass 'text'}}">
      <label class="control-label" for="text">Text</label>
      <div class="controls">
          <input name="text" id="text" type="text" value="{{text}}" placeholder="Name your blurt" class="form-control"/>
          <span class="help-block">{{errorMessage 'text'}}</span>
      </div>
    </div>
    <input type="submit" value="Submit" class="btn btn-primary submit"/>
    <hr/>
    <a class="btn btn-danger delete" href="#">Delete blurt</a>
  </form>
</template>