<template name="footer">
    <div class="col-xs-12 col-sm-12 col-md-12 footer">
        <div class="console-switch col-xs-1 col-sm-1 col-md-1"><span class="glyphicon glyphicon-chevron-right"></span></div>
        <div class="stats col-xs-10 col-sm-10 col-md-10">
            <div class="stat col-xs-4 col-sm-4 col-md-4">XP 5368</div>
            <div class="stat col-xs-4 col-sm-4 col-md-4">$ 3200</div>
            <div class="stat col-xs-4 col-sm-4 col-md-4">^ 4357</div>
        </div>
        <div class="help col-xs-1 col-sm-1 col-md-1">?</div>
    </div>
</template>