<template name="footer">
    <div class="col-xs-24 col-sm-24 col-md-24 footer">
        <div class="console-switch col-xs-1 col-sm-1 col-md-1"><span class="glyphicon glyphicon-chevron-right"></span></div>
        <div class="stats col-xs-22 col-sm-22 col-md-22">
            <div class="stat col-xs-8 col-sm-8 col-md-8">XP 5368</div>
            <div class="stat col-xs-8 col-sm-8 col-md-8">$ 3200</div>
            <div class="stat col-xs-8 col-sm-8 col-md-8">^ 4357</div>
        </div>
        <div class="help col-xs-1 col-sm-1 col-md-1">?</div>
    </div>
</template>